*
{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', sans-serif;
}

.prviSlajder
{
    display: flex;   
}

.drugiSlajder
{
    display: flex;
    margin-left: 30px;
}

li img
{
    border-radius: 6px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: -4px;
    height: 215px;
}


.slider
{
    margin-left: -70px;
}


#button img
{
    height: 50px;
    width: 60px;
    
}

#lijeviGumb
{
    margin-left: 930px;
    margin-top: -210px ;
    margin-bottom: 8px;
}

button
{
    margin-top: -4px;
    padding: 25px 25px;
    height: 35px;
    display: inline-block; 
    
}

#lijevo img
{
    display: block;
    height: 12px;  
    width: 12px;
    margin-top: -4px;
}

#desno img
{
    display: block;
    height: 12px;  
    width: 12px;
    margin-top: -4px;
}

#desniGumb
{
    
    margin-left: 930px;
   
}

h1
{
    font-size: 33px;
    color: #006699;
    margin-left: 1000px;
    margin-top: -350px;
}

p
{
    color: #404040;
    font-size: 18px;
    line-height: 1.7em;
    margin-left: 1000px;
}



